In [4]:
import tqdm
import pandas as pd
import torch
import numpy as np
from transformers import BertTokenizer, BertForSequenceClassification, DistilBertTokenizerFast
from torch.optim import AdamW as TorchAdamW
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import string
import emoji
import re


import spacy
from bs4 import BeautifulSoup
import gensim
from gensim.models import Word2Vec
import numpy as np
import string
import unidecode
import nltk
import matplotlib.pyplot as plt
import seaborn as sns

/home/tudor/Documents/Work_AI/.venv-3.12/lib/python3.12/site-packages/cupy/_environment.py:541: UserWarning:
--------------------------------------------------------------------------------

  CuPy may not function correctly because multiple CuPy packages are installed
  in your environment:

    cupy, cupy-cuda102

  Follow these steps to resolve this issue:

    1. For all packages listed above, run the following command to remove all
       existing CuPy installations:

         $ pip uninstall <package_name>

      If you previously installed CuPy via conda, also run the following:

         $ conda uninstall cupy

    2. Install the appropriate CuPy package.
       Refer to the Installation Guide for detailed instructions.

         https://docs.cupy.dev/en/stable/install.html

--------------------------------------------------------------------------------

  warnings.warn(f'''

In [5]:
METAFEATURES = ['word_count', 'unique_word_count', 'stop_word_count', 'mean_word_length', 'char_count', 'punctuation_count']

In [6]:
train_df = pd.read_csv("processed_train.csv")
test_df = pd.read_csv("processed_test.csv")

In [7]:
meta_train = train_df[METAFEATURES]
meta_test = test_df[METAFEATURES]

In [8]:
meta_train

,word_count,unique_word_count,stop_word_count,mean_word_length,char_count,punctuation_count
0,250,180,97,5.196000,1548,38
1,264,178,109,4.481061,1446,42
2,254,181,108,4.464567,1387,49
3,694,416,232,4.965418,4139,189
4,116,87,47,4.698276,660,24
...,...,...,...,...,...,...
70570,305,218,121,4.881967,1793,86
70571,538,360,185,4.842007,3142,118
70572,669,412,282,4.992526,4008,121
70573,212,132,102,4.353774,1134,30
70574,497,333,208,5.257545,3109,86

In [9]:
meta_train.to_csv("meta_train.csv", index=False)
meta_test.to_csv("meta_test.csv", index=False)